.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
	border: 1px solid #aaaaaa;
    color: #222222;
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    padding-left: 10px;   
}

.ui-menu .ui-menu-item {
	position: relative;
	margin: 0;
	padding: 3px 1em 3px .4em;
	cursor: pointer;
	list-style: none;
}

.ui-helper-hidden-accessible {
	display: none;
}