html, body {
	height: 100%;
}

h1 {
	text-align: center;
	margin-top: 30px;
}

input {
	padding: 10px;
	width: 100%;
	height: 40px;
	border-radius: 10px;
	margin: 5px 0px;
}

/* overwrite bootstrap */

.btn {
	min-width: 100px;
	margin: 5px 0px;
}

.alert {
	clear: both;
}

/* own classes */

.wrapper {
	width: 100%;
	min-height: 100%;
	background-color: #4388CC;
}

.content {
	display: inline-block;
	margin: 20px;
	padding: 20px;
	border: 1px solid #FFFFFF;
	border-radius: 20px;
	width: calc(100% - 40px);
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bold {
	font-weight: bold;
}

.add-more {
	float: left;
	margin-left: 15px;
	width: 22px;
	height: 22px;
	background: url(../images/icons/add-more.png);
	background-size: 100% 100%;
	cursor: pointer;
}

.delete-icon {
	float: left;
	margin-left: 15px;
	width: 22px;
	height: 22px;
	background: url(../images/icons/delete-icon.png);
	background-size: 100% 100%;
	cursor: pointer;
}

#back-btn {
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: url(../images/icons/back-icon.png);
	background-size: 100% 100%;
	position: absolute;
    left: 20px;
    top: 20px;
    border-radius: 15px;
    border: 1px solid #FFFFFF;
}