input {
	width: calc(100% - 40px);
	float: left;
}

.add-more {
	margin-top: 15px;
}

.checkbox-wrapper{
	width: calc(100% - 40px);
}

.checkbox-wrapper span{
	float: left;
    font-weight: bold;
    height: 40px;
    padding: 13px;
    width: 170px;
}

.checkbox-wrapper input {
	width: calc(100% - 210px);
}