input {
	width: calc(100% - 40px);
	float: left;
}

.add-more {
	margin-top: 7px;
}

.delete-icon {
	margin-top: 27px;
}

#change-pwd-btn {
	margin-bottom: 20px;
}

.vehicle-details {
	margin-top: 5px;
	margin-bottom: 5px;
	width: calc(100% - 40px);
	float: left;
}

.vehicle-details .vehicle-image {
	width: 100px;
}

.vehicle-details span {
	font-size: 14px;
	margin: 5px;
	display: inline-block;
}

.vehicle-details .vehicle-details-name {
	width: 110px;
}

.vehicle-details .vehicle-details-verbrauch {
	width: 82px;
}

.vehicle-details .vehicle-details-kraftstoff {
	width: 45px;
}

.stations-wrapper, .cars-wrapper{
	width: 100%;
	display: inline-block;
}

.station-title, .car-title{
	display: block;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

.stations-wrapper .stations-label, .cars-wrapper .stations-label{
	width: 100px;
	float: left;
    height: 40px;
    padding-top: 14px;
}

.stations-wrapper  input, .cars-wrapper  input , .cars-wrapper  select{
	width: calc(100% - 100px);
}

.cars-wrapper  select{
	border-radius: 10px 0 0 10px;
    height: 40px;
}

.location-selector{
	width: 100%;
}