
select, option {
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
}

select {
	padding: 0px;
}

#map-canvas{
	width: 100%;
}
